source https://www.nuget.org/api/v2/

nuget FAKE
nuget Nuget.CommandLine
nuget FSharp.Core redirects: force
nuget FSharp.Data
nuget FsUnit
nuget Http.fs-prerelease 2.4.1
nuget FSharpLint
nuget semver
nuget NUnit ~> 2.6.3
nuget NUnit.Runners ~> 2.6.3